
.background{
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: auto;
}
.showtimes{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.dates{
    width: 100%;
}
