
.background{
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: auto;
    align-content: center;
    justify-content: center;
}

.dates{
    width: 100%;
}
