.container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem 0;
}
.date{
    width: 5rem;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
}
.date:hover{
    background-color: #b7ced4;
    cursor: pointer;
}

.active{
    background-color: #EDA12A;
}
.active:hover{
    background-color: #EDA12A;
}
h4{
    width: fit-content;
    margin: 0;
}